html {
  background-image: url(./pexels-photo-241544.jpeg);
}

.App {
  text-align: center;
  height: auto;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stockQuote{
  height: 100px;
  width: 100px;
  background-color: #777777;
  border-radius: 10px;
  opacity: .9;
  color: #61dafb;
  margin: auto;
}

.NewsFeed{
  float: left;
  width: 20%;
  height: auto;
}

.NewsItem{
  margin: 20px;
  padding: 20px;
  background-color: #61dafb;
}

.search{
  margin-top: 300px;

}
