html {
  background-image: url(./img/pexels-photo-241544.jpeg);
}

.App {
  text-align: center;
  height: auto;
}

.wrapper{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.stockQuote{
  height: 100px;
  padding-left: 10px;
  width: 125px;
  background-color: #777777;
  border-radius: 10px;
  opacity: .9;
  color: #61dafb;
  margin: auto;
}

.NewsFeed{
  float: left;
  height: max-content;
  color: #ffffff;
}

.NewsItem{
  margin: 10px;
  padding: 10px;
  background-color: #61dafb;
}

.news-section{
  min-width: 20%;
}

.main-section{

}

.search{
  margin-top: 200px;
  position: relative;
}

header {
  text-align: right;
  color: palegreen;
  font-style: italic;
  font-size: 24px;
}
